<div class="flex flex-col justify-center items-center mx-auto  sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Enter your password to continue</h2>
  </div>
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_with(url: sessions_sudo_path) do |form| %>
        <%= form.hidden_field :proceed_to_url, value: params[:proceed_to_url] %>
        <div>
          <%= form.password_field :password, required: true, autofocus: true, autocomplete: "current-password", class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
        </div>
        <div>
          <%= form.submit "Continue", class: "flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 my-3" %>
        </div>
      <% end %>
      <br>
      <p>
        <strong>Why are you asking me to do this?</strong><br>
        To better protect your account, we'll occasionally ask you to confirm your password before performing sensitive actions.
      </p>
      <p>
        <strong>Forgot your password?</strong><br>
        We'll help you <%= link_to "reset it", new_identity_password_reset_path, class: "flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 my-3" %> so you can continue.
      </p>
    </div>
  </div>
</div>
