<div class="bg-white border border-gray-200 rounded text-sm font-medium">
  <%= active_link_to t(".profile"), edit_identity_email_path, class: "block no-underline p-3 px-6 rounded-t", active_class: "bg-blue-600 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100", class_active: 'active-sidebar' %>
  <%= active_link_to t(".password"), edit_password_path, class: "block no-underline p-3 px-6", active_class: "bg-blue-600 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100", class_active: 'active-sidebar' %>
  <%= active_link_to "2FA", new_two_factor_authentication_totp_path, class: "block no-underline p-3 px-6", active_class: "bg-blue-600 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100", class_active: 'active-sidebar' %>
  <%= active_link_to "Events", authentications_events_path, class: "block no-underline p-3 px-6", active_class: "bg-blue-600 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100", class_active: 'active-sidebar' %>
  <%= active_link_to "Sessions", sessions_path, class: "block no-underline p-3 px-6", active_class: "bg-blue-600 text-white hover:text-white", inactive_class: "text-gray-700 hover:text-gray-700 hover:bg-gray-100", class_active: 'active-sidebar' %>
</div>
