<div class="flex items-center">
  <div class="inline-block text-sm px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
    <div class="relative" data-controller="dropdown">
      <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
        <span class="appearance-none flex items-center inline-block text-gray-700">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4 h"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
          <% if current_user&.avatar.attached? %>
            <%= image_tag current_user.avatar, class: "rounded-full h-10 w-10 align-middle border border-indigo-900 shadow-xl" %>
          <% else %>
            <%= image_tag "avatar.png", class: "rounded-full h-10 w-10 align-middle border shadow-xl" %>
          <% end %>
        </span>
      </div>
      <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden w-40 z-20">
        <div class="bg-white shadow rounded border overflow-hidden">
          <%= link_to 'Account',  edit_identity_email_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-indigo-700 hover:text-white whitespace-nowrap text-start' %>
          <%#= link_to 'Password',  edit_password_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-indigo-700 hover:text-white whitespace-nowrap' %>
          <%= button_to 'Sign Out', Current.session, method: :delete, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-b text-gray-900 bg-white hover:bg-indigo-700 hover:text-white whitespace-nowrap w-full text-start' %>
          <% if Rails.env.development? %>
            <%= link_to 'Letter Opener', letter_opener_web_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-indigo-700 hover:text-white whitespace-nowrap' %>
          <% end %>
          <% if current_user&.admin? %>
            <%= link_to 'Admin',  admin_root_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-indigo-700 hover:text-white whitespace-nowrap' %>
            <%= link_to 'Sidekiq', sidekiq_web_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-indigo-700 hover:text-white whitespace-nowrap' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
