<footer id="footer" class="bg-white">
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <%= render "shared/static_links" %>
    <%#= render "shared/social" %>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-base text-gray-400">&copy; <%= Date.today.year %> Your Company, Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
