<nav class="bg-white shadow">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 justify-between">
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to root_path do %>
            <img class="block h-8 w-auto lg:hidden" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
          <% end %>
        </div>
        <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
          <%= active_link_to "Home", root_path, class: "inline-flex items-center border-b-2 border-transparent px-1 pt-1 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700", active: :exact %>
        </div>
      </div>
      <% if current_user %>
        <%= render "shared/notifications" %>
        <%= render "shared/dropdown" %>
      <% end %>
    </div>
  </div>
</div>
<%# <!-- Mobile menu, show/hide based on menu state. --> %>
</nav>
