<div class="flex justify-center space-x-6 md:order-2 items-center">
  <%= link_to 'About', page_path('about'), class: "text-sm" %>
  <%= link_to 'Terms', page_path('terms'), class: "text-sm" %>
  <%= link_to 'Privacy', page_path('privacy'), class: "text-sm" %>
</div>
