<div class="flex flex-col lg:flex-row items-start justify-around">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="flex flex-col justify-center items-start w-full  sm:px-6 lg:px-8 lg:w-3/4">
    <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
      <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
        <p style="color: red"><%= alert %></p>
        <h1 class="text-lg font-bold py-3">Upgrade your security with 2FA</h1>
        <h2 class="text-md py-3">Step 1: Get an Authenticator App</h2>
        <p>First, you'll need a 2FA authenticator app on your phone. <strong>If you already have one, skip to step 2.</strong></p>
        <p><strong>If you don't have one, or you aren't sure, we recommend Microsoft Authenticator</strong>. You can download it free on the Apple App Store for iPhone, or Google Play Store for Android. Please grab your phone, search the store, and install it now.</p>
        <h2 class="text-md py-3">Step 2: Scan + Enter the Code</h2>
        <p>Next, open the authenticator app, tap "Scan QR code" or "+", and, when it asks, point your phone's camera at this QR code picture below.</p>
        <figure class="my-5 flex items-center justify-center flex-col">
          <%= image_tag @qr_code.as_png(resize_exactly_to: 200).to_data_url %>
          <figcaption>Point your camera here</figcaption>
        </figure>
        <%= form_with(url: two_factor_authentication_totp_path, class: "w-3/5 mx-auto") do |form| %>
          <%= form.hidden_field :secret, value: @totp.secret %>
          <div>
            <%= form.label :code, "After scanning with your camera, the app will generate a six-digit code. Enter it here:", style: "display: block" %>
            <%= form.text_field :code, autofocus: true, required: true, autocomplete: :off, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <div>
            <%= form.submit "Verify and activate", class: "flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 my-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
