<div class="flex flex-col lg:flex-row items-start justify-around">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="w-full lg:w-3/4">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-semibold text-gray-900">Events</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all the events.</p>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="-my-2 -mx-4  max-w-screen overflow-scroll md:overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Action</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">IP Address</th>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">User Agent</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created At</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% @events.each do |event| %>
                  <tr>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= event.action %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= event.ip_address %></td>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"><%= event.user_agent&.truncate(40) %></td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= event.created_at %></td>
                    <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                      <a href="#" class="text-indigo-600 hover:text-indigo-900">View</a>
                    </td>
                  </tr>
                <% end %>
                <!-- More people... -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="flex items-center justify-end">
      <%= link_to "Back", root_path, class: "text-blue-500" %>
    </div>
  </div>
</div>
