<div class="flex flex-col lg:flex-row items-start justify-around">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="flex flex-col justify-center items-center mx-auto  sm:px-6 lg:px-8 lg:w-3/4">
    <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
      <div class="bg-white py-8 px-4 shadow-xl border sm:rounded-lg sm:px-10">
        <div class="sm:mx-auto sm:w-full sm:max-w-md">
          <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
          <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900 mb-5">Change your password</h2>
        </div>
        <p style="color: red"><%= alert %></p>
        <%= form_with(url: password_path, method: :patch, class: "w-3/5 mx-auto") do |form| %>
          <% if @user.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div>
            <%= form.label :current_password, style: "display: block" %>
            <%= form.password_field :current_password, required: true, autofocus: true, autocomplete: "current-password", class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <div>
            <%= form.label :password, "New password", style: "display: block" %>
            <%= form.password_field :password, required: true, autocomplete: "new-password", class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
            <div>12 characters minimum.</div>
          </div>
          <div>
            <%= form.label :password_confirmation, "Confirm new password", style: "display: block" %>
            <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <div>
            <%= form.submit "Save changes", class: "flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 my-3" %>
          </div>
        <% end %>
        <br>
        <div class="flex items-center justify-end">
          <%= link_to "Back", root_path, class: "text-blue-500" %>
        </div>
      </div>
    </div>
  </div>
</div>
