<div class="my-48">
  <div class="bg-gray-200 text-center lg:p-16 p-8 rounded-lg max-w-3xl my-4 mx-auto">
    <h2 class="text-black lg:text-4xl text-xl lg:mb-4 mb-2">About</h2>
    <p class=" text-gray-700 lg:text-xl text-base leading-normal">Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis. <a href="#" class="link">Learn More</a></p>
  </div>
</div>
