<div class="my-56">
  <h1 class="text-4xl my-3">Privacy</h1>
  <%# Don't forget to update the Agreement updated timestamp after modifying! %>
  <p class=" text-lg text-gray-700 leading-normal">
    There are several sites that can help with the creation of your terms of service.
  </p>
  <p class="mb-4 text-lg text-gray-700 leading-normal">
    Have your text reviewed by a lawyer before going live.
  </p>
  <ul>
    <li><a class="text-blue-500" href="https://github.com/basecamp/policies">Basecamp</a></li>
    <li><a class="text-blue-500" href="https://termly.io/">Termly</a></li>
    <li><a class="text-blue-500" href="https://getterms.io/">Get Terms</a></li>
  </ul>
</div>
