<div class="flex flex-col lg:flex-row items-start justify-around">
  <div class="w-full mb-4 lg:w-1/4 lg:p-4">
    <%= render partial: "shared/account_navbar" %>
  </div>
  <div class="flex flex-col justify-center items-end w-full sm:px-6 lg:px-8 lg:w-3/4">
    <div class="sm:mx-auto sm:w-full sm:max-w-3xl">
      <div class="bg-white p-20 shadow-lg border sm:rounded-lg">
        <% if current_user&.avatar.attached? %>
          <div class="flex items-center justify-center">
            <%= image_tag current_user.avatar, class: "rounded-full h-32 w-32 align-middle border shadow-xl" %>
          </div>
        <% end %>
        <% unless Current.user.verified? %>
          <div class="p-5 my-3 shadow-xl border rounded">
            <h1>Verify your email</h1>
            <p>We sent a verification email to the address below. Check that email and follow those instructions to confirm it's your email address.</p>
            <p><%= button_to "Re-send verification email", identity_email_verification_path, class: "flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 my-3" %></p>
          </div>
        <% end %>
        <%= form_with(model: @user, url: identity_email_path, method: :patch, class: "w-3/5 mx-auto") do |form| %>
          <% if @user.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                <% @user.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="mb-3">
            <%= form.label :name, "Name", style: "display: block" %>
            <%= form.text_field :name, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <div class="mb-3">
            <%= form.label :email, "Email", style: "display: block" %>
            <%= form.email_field :email, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm" %>
          </div>
          <div class="mb-3">
            <%= form.label :avatar, "Avatar", style: "display: block" %>
            <%= form.file_field :avatar, class: "block w-full text-sm text-slate-500
            file:mr-4 file:py-2 file:px-4
            file:rounded-full file:border-0
            file:text-sm file:font-semibold
            file:bg-indigo-50 file:text-indigo-700
            hover:file:bg-indigo-100" %>
          </div>
          <div>
            <%= form.submit "Save changes", class: "flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 my-5" %>
          </div>
        <% end %>
        <div class="w-3/5 mx-auto">
          <%= link_to "Back", root_path, class: "text-blue-500" %>
        </div>
      </div>
    </div>
  </div>
</div>
