<div class="container mx-auto">
  <h1 class="h2 my-6 text-center text-3xl font-bold">Notifications</h1>
</div>
<div class="bg-white rounded-lg border border-gray-200 sm:rounded-md sm:max-w-2xl sm:mx-auto">
  <ul>
    <%= render partial: "notifications/notification", collection: @notifications, cached: true %>
  </ul>
  <% if @notifications.empty? %>
    <div class="px-4 py-3 text-gray-700 text-center">Nothing to see here — yet.</div>
  <% end %>
  <% if @pagy.pages > 1 %>
    <div class="text-center mt-8">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
