<%= turbo_frame_tag "notifications" do %>
  <%= render partial: "notifications/notification", collection: @notifications.limit(10), cached: true %>
  <% if @notifications.any? %>
    <%= link_to "See more notifications", notifications_path, class: "block px-4 py-3 text-gray-700 font-medium hover:bg-gray-100" %>
  <% end %>
  <div class="hidden p-4 text-center only:block">
    <div class="mb-2">Nothing to see here — yet.</div>
    <div class="text-gray-600">We'll let you know when you have new notifications.</div>
  </div>
<% end %>
